<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:jsp="http://java.sun.com/xml/ns/javaee/jsp" xmlns:web="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
  <servlet>
    <servlet-name>Accueil</servlet-name>
    <servlet-class>com.m1affectop.servlets.Accueil</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Accueil</servlet-name>
    <url-pattern>/index</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Eleve_desc</servlet-name>
    <servlet-class>com.m1affectop.servlets.Eleve_desc</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Eleve_desc</servlet-name>
    <url-pattern>/eleve_desc</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Eleve_choix</servlet-name>
    <servlet-class>com.m1affectop.servlets.Eleve_choix</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Eleve_choix</servlet-name>
    <url-pattern>/eleve_choix</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Eleve_valider</servlet-name>
    <servlet-class>com.m1affectop.servlets.Eleve_valider</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Eleve_valider</servlet-name>
    <url-pattern>/eleve_valider</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Prof_ajout</servlet-name>
    <servlet-class>com.m1affectop.servlets.Prof_ajout</servlet-class>
    <multipart-config>
      <location>../../../../temp</location>
      <max-file-size>10485760</max-file-size>
      <max-request-size>52428800</max-request-size>
      <file-size-threshold>1048576</file-size-threshold>
    </multipart-config>
  </servlet>
  <servlet-mapping>
    <servlet-name>Prof_ajout</servlet-name>
    <url-pattern>/prof_ajout</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Prof_option</servlet-name>
    <servlet-class>com.m1affectop.servlets.Prof_option</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Prof_option</servlet-name>
    <url-pattern>/prof_option</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Prof_confirmer</servlet-name>
    <servlet-class>com.m1affectop.servlets.Prof_confirmer</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Prof_confirmer</servlet-name>
    <url-pattern>/prof_confirmer</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Prof_valider</servlet-name>
    <servlet-class>com.m1affectop.servlets.Prof_valider</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Prof_valider</servlet-name>
    <url-pattern>/prof_valider</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Prof_accueil</servlet-name>
    <servlet-class>com.m1affectop.servlets.Prof_accueil</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Prof_accueil</servlet-name>
    <url-pattern>/prof_accueil</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Eleve_accueil</servlet-name>
    <servlet-class>com.m1affectop.servlets.Eleve_accueil</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Eleve_accueil</servlet-name>
    <url-pattern>/eleve_accueil</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Prof_redoublant</servlet-name>
    <servlet-class>com.m1affectop.servlets.Prof_redoublant</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Prof_redoublant</servlet-name>
    <url-pattern>/prof_redoublant</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Prof_apercu</servlet-name>
    <servlet-class>com.m1affectop.servlets.Prof_apercu</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Prof_apercu</servlet-name>
    <url-pattern>/prof_apercu</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Prof_algo</servlet-name>
    <servlet-class>com.m1affectop.servlets.Prof_algo</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Prof_algo</servlet-name>
    <url-pattern>/prof_algo</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Prof_mail</servlet-name>
    <servlet-class>com.m1affectop.servlets.Prof_mail</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Prof_mail</servlet-name>
    <url-pattern>/prof_mail</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Prof_final</servlet-name>
    <servlet-class>com.m1affectop.servlets.Prof_final</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Prof_final</servlet-name>
    <url-pattern>/prof_final</url-pattern>
  </servlet-mapping>
  <jsp-config>
    <jsp-property-group>
      <url-pattern>*.jsp</url-pattern>
      <include-prelude>/WEB-INF/logo.jsp</include-prelude>
      <include-prelude>/WEB-INF/taglibs.jsp</include-prelude>
    </jsp-property-group>
  </jsp-config>
</web-app>